.header {
  padding: ($base-size * 4) 0 ($base-size * 4) 0;
  background: $color-newDark;
  color: $color-header;

  /* &__wrapper {} */

}

.logo {
  display: block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-newHeader;
    font-weight: $font-light;
    text-align: center;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    text-align: center;
    margin: 0;
    font-family: $font-newText;
    font-size: ($base-size);
    font-weight: $font-light;
    font-style: italic;
    text-decoration: underline;
  }
}

.main-nav {
  left: -20%;
  position: relative;
  width: 140%;
  @include flex(row, flex-start, flex-start);
  bottom: ($base-size * -3);

  a {
    @extend .h2;
    color: $color-header;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: $base-size ($base-size * 2);
    background: darken($color-newDark, 5%);
    border: 1px solid $color-newLight;
    border-radius: 25%;

    &:hover {
      text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px yellow;
    }

    &.active {
      background: lighten($color-newDark, 70%);
      color: $color-newMain;

      &:hover {
        text-shadow: 1px 1px 2px lightblue, 0 0 25px blue, 0 0 5px darkblue;
      }
    }

  }

}
