/* GLOBALS */

*, *::before, *::after {
  box-sizing: border-box;
}

/* PAGE-OPENER */

.welcome-wrapper{
  background-color: $color-newLight;
  margin-top: 36px;
  border-radius: 5px;
}

.welcome-page{
  padding: 30px 0 10px 0;
}

.opener {
  padding: 0 30px;
  margin-bottom: 60px;

  &__list {
    .row-border{
      border: 2px solid $color-newMain;
      border-radius: 10px;
      box-shadow: 5px 10px 18px #888888;
      margin-top: 10px;
    }

    .opener__setup{
      padding: 0;

      img{
        overflow: hidden;
        max-width: 100%;
        height: 150px;
        object-fit: cover;
        position: relative;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      &--header{
        padding-top: 5px;
        margin: 0;
      }
    }

    .opener__text {
      text-align: left;
      font-family: $font-newText;
      align-content: center;
      position: relative;
      background-color: lighten($color-newDark, 70%);
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;

      p {
        padding-top: 10px;
        margin: 0;
      }
    }
  }

  &__time--container{
    padding: 10px;
  }

  &__time--content{
    background-color: $color-newDark;
    border-radius: 20px;
  }

  &__time--header{
    text-align: center;
    color: $color-header;
    font-family: $font-newHeader;
    font-size: 55px;
    font-weight: $font-bold;
  }

  &__time--body{
    font-family: $font-newText;
    font-weight: $font-normal;
    font-size: 20px;
    padding-bottom: 15px;
  }

  &__time--img{
    width: 100%;
    padding-top: 12px;
    border-radius: 35px;
  }

}

/* CAROUSEL */

.slider{
  padding: 10px 10px;
  margin-bottom: 20px;

  &__content{
    padding: 0 5px;

    &--img{
      max-width: 100%;
      padding: 5px 5px;
      margin: 10px 0;
      object-fit: cover;
      overflow: hidden;
      border-radius: 30px;
      box-shadow: 3px 3px 10px #888888;
      border: 1px solid red;
    }
  }
}

/* GALLERY */

.gallery{
  margin-top: 30px;

  .banner{
    background-color: #0d0a2b;
    border-radius: 8px;
    position: relative;

    &__img{
      height: 195px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }

    &::after{
      content: 'Come visit us anytime!';
      color: white;
      font-family: $font-newHeader;
      font-size: 40px;
      display: block;
      background-color: transparent;
      text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px yellow;
      height: 20px;
      width: 100%;
      @include center();
      left: 75%;
      top: 40%;
    }
  }
}

banner__img:hover{
  opacity: 0.3;
}

/* FOOTER */

.view-more{
  margin-top: 25px;
  padding-left: 22px;

  p{
    color: red;
    text-decoration: underline;
  }
}
